[data-theme="dark"]{
  --primary: #1F2D3B;
  --font-color: #8C9B9D;
  --bg: #8C9B9D;
  --ogbg: #343C3D;
  --other: #1F2D3B;
  --font-color2:#fff;
}

html {
  --primary: #ff9e80;
  --font-color: #263238;
  --bg: #fff;
  --ogbg: #fff;
  --other: #fff;
  --font-color2:#263238;

  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  display: flex;
  background: var(--ogbg);
}
#cover {
  background-color: var(--primary);
  height: 28rem;
  color: var(--bg);
}
#cover p:first-child{
  color:white;
}
.cont {
  max-width: 50rem;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  color: var(--bg);
}
#logo {
  width: 12em;
  margin-top: 2px;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  font-weight: 700;
  margin: 0 1rem;
}
.convtent {
  display: flex;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  flex-direction: column;
  margin-top: 4em;
}

#mini {
  font-size: 0.3em;
  color: var(--font-color);
  margin-bottom: 6em;
}

#curve {
  margin-top: -1em;
  width: 100%;
}

#acerca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 14em;
  margin-left: 8em;
  margin-right: 8em;
  color: var(--font-color);
  /*max-width: 60rem;*/
}

#acerca1 {
  display: flex;
  flex-direction: row;
}
#acerca2 {
  display: flex;
  flex-direction: row;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 2em;
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-flow: row;
  overflow: hidden;
  background-color: var(--other);
  margin: 5px auto;
  border: 1px solid #888;
  width: 70%;
  height: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-flow: row;
}
.login-content {
  display: flex;
}
.login-content img {
  margin: 11%;
  width: 21em;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 4;
  width: 30em;
}
.login-form label{
    color: var(--font-color2);
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*responsive*/
@media (max-width: 1300px) {
  #curve {
    margin-top: -2em;
  }
}

@media (max-width: 1000px) {
  #curve {
    margin-top: -3.5em;
  }
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 /* x/xs */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    
    #cover{
        height: 44rem;
    }
    #cover p{
      padding: 3px
    }
    #curve{
      margin-top: 5em
    }
    .login-content img{
      display: none;
    }
    .login-content{
      margin: 0.5em; 
      width: 15.2em;
    }
}
 /* android? */
@media screen 
  and (device-width: 360px) 
  and (device-height: 740px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    #cover{
        height: 44rem;
    }
    #cover p{
      padding: 3px
    }
    #curve{
      margin-top: 5em
    }
    .login-content img{
      display: none;
    }
    .login-content{
      margin: 1em; 
      width: 14em;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    #cover{
        height: 44rem;
    }
    #cover p{
      padding: 3px
    }
    #curve{
      margin-top: 5em
    }
    .login-content img{
      display: none;
    }
    .login-content{
      margin: 1em; 
      width: 14em;
    }  
}

@media only screen 
  and (min-width: 414px) 
  and (orientation: portrait) { 
    #cover{
        height: 44rem;
    }
    #cover p{
      padding: 3px
    }
    #curve{
      margin-top: 5em
    }
    .login-content img{
      display: none;
    }
    .login-content{
      margin: 1em; 
      width: 14em;
    } 

}
@media only screen 
  and (min-width: 768px) 
  and (orientation: portrait) { 
    #cover{
        height: 39rem;
    }
    #cover p{
      padding: 3px
    }
    #curve{
      margin-top: 5em
    }
    .login-content img{
      display: none;
    }
    .login-content{
      margin: 10em; 
      width: 14em;
    } 

}

@media (min-width: 1920px) and (max-width: 2560px)  {
  #cover{
    width: 85em;
  }
}