/* Variables */
$primary: #ff9e80;
$font-dark: #263238;
$white: #fff;

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.cont {
  max-width: 960px;
  margin: 0 auto;
}

#cover {
  background-color: $primary;
  height: 400px;
  color: $white;
  #sartencio {
    width: 10em;
    margin-left: 600px;
    margin-top: -130px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo {
    width: 12em;
    margin-top: 2px;
  }
  ul {
    list-style-type: none;
    display: flex;
    li {
      font-weight: 700;
      margin: 0 1rem;
    }
  }
}

.convtent {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 100px auto;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  #mini {
    font-size: 0.3em;
    color: $font-dark;
  }
}

#curve {
  margin-top: -5em;
  width: 100%;
}
#curve path {
  fill: $primary;
}

#acerca {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  font-weight: 800;
  text-align: center;
  font-size: 1rem;
  color: $font-dark;
  flex-direction: column;
  #titulo {
    font-size: 2.5rem;
    margin-top: 160px;
  }
  #acerca1 {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-top: 40px;
    img:nth-child(1) {
      width: 140%;
    }
    #texto1 {
      padding-right: 150px;
      padding-left: 150px;
      padding-top: 70px;
    }
  }
  #acerca2 {
    display: flex;
    flex-direction: row;
    margin-left: 110px;
    margin-top: 60px;
    img:nth-child(2) {
      width: 150%;
    }
    #texto2 {
      padding-top: 90px;
    }
  }
  #creds {
    margin-top: 65px;
  }
}
/*lo de atras*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* form */
.modal-content {
  background-color: $white;
  margin: 5px auto;
  border: 1px solid #888;
  width: 70%;
  height: 90%;
  .wave{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
  
  .container{
      display:flex;
      flex-direction: column;
      flex-flow: row;
      padding: 0 2rem;
  }
  
  .img{
    
  }
  
  .login-content{
    display: flex;
    justify-content: column;
    align-items: center;
    text-align: center;
  }
  
  .img img{
    width: 500px;
  }
  
  form{
    width: 360px;
  }
  
  .login-content img{
      height: 100px;
  }
  
  .login-content h2{
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
  }
  
  .login-content .input-div{
      position: relative;
      margin: 25px 0;
      padding: 5px 0;
      border-bottom: 2px solid #d9d9d9;
  }
  
  .login-content .input-div.one{
    margin-top: 0;
  }
  
  .i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i i{
    transition: .3s;
  }
  
  .input-div > div{
      position: relative;
    height: 45px;
  }
  
  .input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
  }
  
  .input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: .4s;
  }
  
  .input-div:before{
    right: 50%;
  }
  
  .input-div:after{
    left: 50%;
  }
  
  .input-div.focus:before, .input-div.focus:after{
    width: 50%;
  }
  
  .input-div.focus > div > h5{
    top: -5px;
    font-size: 15px;
  }
  
  .input-div.focus > .i > i{
    color: #38d39f;
  }
  
  .input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
  }
  
  .input-div.pass{
    margin-bottom: 4px;
  }
  
  a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
  }
  
  a:hover{
    color: #38d39f;
  }
  
  .btn{
    display: block;
    width: 13%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
  }

}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}




//responsive xd

@media only screen and (max-width: 1030px) {
  .curve{
    display: none;
  }
}